body {
  background: rgb(238, 189, 55);
}

.title {
  margin: auto;
  text-align: center;
  color: rgba(233, 23, 23, 0.719);
}

.burgerImg{
  margin: auto;
}

.CB {
  margin: auto;
  margin-bottom: 50px;
  font-style: italic;
}

.BRE {  
  float: left;
  margin-left: 10%;
  padding-bottom: 30px;
  font-style: italic;
}

.BD {
  float: left;
  margin-left: 10%;
  padding-bottom: 30px;
  font-style: italic;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin: 5px;
  background: white;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}
